<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>all resources</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>pink</role-name>
            <role-name>punk</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>Role mapped by proprietary IBM descriptor</description>
        <role-name>pink</role-name>
    </security-role>
    <security-role>
        <description>Unmapped role</description>
        <role-name>punk</role-name>
    </security-role>
</web-app>
